{% extends 'base.html' %}
{% load static %}
{% block content %}

        <!-- Main Content -->
    <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid">
            <!-- Page Heading and top level Button -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Sites</h1>
                <button id="add-site" class=" d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                        class="fas fa-building fa-sm text-white-50"></i> Add site
                </button>
            </div>
            <div class="row">
                <div class="col">
                   <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Sites</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                        aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Filter:</div>
                                        <a class="dropdown-item" href="#">placeholder</a>
                                        <a class="dropdown-item" href="#">placeholder </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">placeholder </a>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col"></th>
                                                <th scope="col">EPA ID</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Address</th>
                                                <th scope="col"></th>
                                                {# <th scope="col"><a href="#" class="fas fa-arrow-right"></a> </th>#}
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for site in sites %}
                                            <tr>
                                              <th scope="row">{{ forloop.counter }}</th>
                                                <td>{{ site.epa_id }}</td>
                                                <td>{{ site.epa_name }}</td>
                                                <td>{{ site.site_address }}</td>
                                                <td><a class="fas fa-eye" href="{{ site.epa_id }}/details"></a></td>
                                                <td><a class="fas fa-scroll" href="{{ site.epa_id }}/manifests"></a></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Page level plugins -->
    <script src="{% static 'js/trak/sync-db.js' %}"></script>

{% endblock content %}
