# see the GitHub - Dependabot version updates documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/client'
    schedule:
      interval: 'monthly'
    labels:
      - 'reactjs'
      - 'dependencies'
    open-pull-requests-limit: 2
    reviewers:
      - 'dpgraham4401'
  - package-ecosystem: 'pip'
    directory: '/server'
    schedule:
      interval: 'monthly'
    labels:
      - 'django'
      - 'dependencies'
    open-pull-requests-limit: 2
    reviewers:
      - 'dpgraham4401'
