# https://editorconfig.org/
root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8
max_line_length = 80

# Django recommends 88 characters per line max
[*.py]
max_line_length = 88

[*.html]
indent_size = 2

[*.js]
indent_size = 2

[*.jsx]
indent_size = 2

[*.ts]
indent_size = 2

[*.tsx]
indent_size = 2

[*.json]
indent_size = 2
max_line_length = 200

[*.md]
max_line_length = 100

[*.yaml]
indent_size = 2

[*.yml]
indent_size = 2
