# config files
.env

# virtual environment
env
venv/
.venv/
env/

# IDE
.idea
.vscode

# Coverage
.coverage
.coveragerc

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
static/bak
/db.sqlite3

# frontend
**/node_modules

# other
*.DS_Store
bak

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
