# Misc files
**/.env
**/.secrets
.coverage
.coveragerc
**/*.sqlite3
**/*.rdb
**/.pytest_cache/
*.DS_Store
**/*.bak
**/.ruff_cache

# virtual environment
venv/
.venv/
env/

# IDE
**/.idea
**/.vscode


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# client
**/node_modules

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
