version: '3.9'
services:
  server:
    container_name: ht_server
    build: ./server
    ports:
      - '8000:8000'
    volumes:
      - ./server:/app
    environment:
      HT_HOST: 'localhost'
      HT_SECRET_KEY: ${HT_SECRET_KEY}
      HT_DEBUG: ${HT_DEBUG}
      HT_TIMEZONE: ${HT_TIMEZONE}
      HT_RCRAINFO_ENV: ${HT_RCRAINFO_ENV}
      HT_CORS_DOMAIN: ${HT_CORS_DOMAIN}
      CELERY_BROKER_URL: ${CELERY_BROKER_URL}
      CELERY_RESULT_BACKEND: ${CELERY_RESULT_BACKEND}
      HT_DB_ENGINE: ${HT_DB_ENGINE}
      HT_DB_NAME: ${HT_DB_NAME}
      HT_DB_USER: ${HT_DB_USER}
      HT_DB_PASSWORD: ${HT_DB_PASSWORD}
      HT_DB_HOST: postgres
      HT_DB_PORT: ${HT_DB_PORT}
    command: |
      sh -c "
      python manage.py makemigrations &&
      python manage.py migrate &&
      python manage.py loaddata dev_data.json &&
      python manage.py runserver 0.0.0.0:8000"
    depends_on:
      postgres:
        condition: service_healthy

  redis:
    container_name: ht_redis
    image: 'redis:alpine'
    ports:
      - '6379:6379'

  celery:
    restart: always
    container_name: ht_celery
    build: ./server
    volumes:
      - ./server:/app
    environment:
      CELERY_BROKER_URL: ${CELERY_BROKER_URL}
      CELERY_RESULT_BACKEND: ${CELERY_RESULT_BACKEND}
      HT_DB_ENGINE: ${HT_DB_ENGINE}
      HT_DB_NAME: ${HT_DB_NAME}
      HT_DB_USER: ${HT_DB_USER}
      HT_DB_PASSWORD: ${HT_DB_PASSWORD}
      HT_DB_HOST: postgres
      HT_DB_PORT: ${HT_DB_PORT}
    command: python manage.py celery_worker
    depends_on:
      - redis
      - server

  postgres:
    container_name: ht_postgres
    image: 'postgres:14'
    environment:
      POSTGRES_DB: ${HT_DB_NAME}
      POSTGRES_USER: ${HT_DB_USER}
      POSTGRES_PASSWORD: ${HT_DB_PASSWORD}
    ports:
      - '5432:5432'
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U $HT_DB_USER -d $HT_DB_NAME']
      interval: 3s
      timeout: 3s
      retries: 5
  #    volumes:
  #      - development:/var/lib/postgresql/data

  client:
    container_name: ht_client
    image: 'node:18'
    ports:
      - '3000:3000'
    volumes:
      - ./client:/app
    environment:
      REACT_APP_HT_API_URL: ${REACT_APP_HT_API_URL}
      REACT_APP_HT_ENV: ${REACT_APP_HT_ENV}
    command: sh -c "cd /app; npm install; npm start"

volumes:
  development:
