/* Begin base style */
* {
    margin: 0;
    padding: 0;
    color: #000066;
    font-family: sans-serif;
}

html, body {
    height: 100%;
}

#menu {
    top: 0%;
    left: 0%;
    width: 100%;
    position: fixed;
    display: flex;
    align-content: center;
    z-index: 1;
    background-color: Gainsboro;
    background-image: linear-gradient(LightSteelBlue, #93aed2);
    box-shadow: 0px 0px 3px #222222;
}

.menu-content {
    display: inline-block;
    text-align: left;
    height: 100%;
    vertical-align: bottom;
}

.menu-content img {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
}

#menu-right {
    /*display: flex;*/
    justify-content: space-between;
}

.nav_content {
  position: relative;
  display: inline-block;
}

#left_text {
    overflow: auto;
}

#right_text {
    background-color: Gainsboro;
    overflow: auto;
}

#footer {
    position: relative;
    clear: both;
    background-color:  #93aed2;
    background-image: linear-gradient(to top, #93aed2, LightSteelBlue);
}

a, a:link, a:visited {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color:DimGray;
}

#main {
    overflow: auto;
    display: flex;
}

/* menu Dropdown Button */
.btn {
  margin-top: 20%;
  width: 75px;
  font-weight: bold;
  box-shadow: 0px 0px 2px #222222;
  background-color: Silver;
  border: 1px solid gray;
  padding: 8% 8%;
  border-radius: 5px;
  transition-duration: .4s;
}


.btn:hover {
    background-color: Gainsboro;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 40px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown_content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown_content a:hover {background-color: #ddd}

.show {display:block;}
/* End base style */

/* Begin mobile viewport style */
@media only screen and (max-width: 600px) {

    #menu {
        height: 10%;
        display: flex;
        justify-content: space-between;
        
    }
    
    #menu-title {
        display: none;
    }

    #menu-right {
        text-align: right;
        margin-right: 5%;
        margin-top: 1%;
    }

    #container {
        position: relative; top: 10%;
        min-height: 100%;
        margin-bottom: 5%;
        overflow: auto;
    }

    #main {
    justify-content: flex-end;
    display: block;
    }

    #left_text {
        min-height: 500px;
    }

    #right_text {
        background-color: Gainsboro;
        background-image: linear-gradient(to top, Gainsboro, Silver);
        box-shadow: 0px 0px 3px #222222;
        overflow: auto;
        min-height: 400px;
    }
    
    #footer {
        height: 10%;
        margin-top: -10%;
        min-height: 75px;
    }

}
/* End mobile viewport style */

/* Begin Desktop viewport style */
@media only screen and (min-width: 601px) {

    #menu {
        height: 5%;
        display: flex;
        justify-content: space-between;
        
    }

    #menu-right {
        text-align: right;
        margin-right: 5%;


    }

    #container {
        position: relative; top: 5%;
        min-height: 100%;
        margin-bottom: 5%;
        overflow: auto;
    }

    #main {
    justify-content: center;
    min-height: 1000px;
    }

    #left_text {
        width: 74%;
    }

    #right_text {
        height: 100%;
        width: 25%;
        background-color: Gainsboro;
        background-image: linear-gradient(to left, Gainsboro, Silver);
        box-shadow: 0px 0px 3px #222222;
        overflow: auto;
        min-height: 1400px;
    }
    
    #footer {
        height: 5%;
        margin-top: -5%;
        min-height: 75px;
    }

}

/* Registration */
#registration fieldset {
    width: 30%;
    margin-left: : auto;
    margin-top: auto;
    box-shadow: 0px 0px 3px #222222;
    padding: 2%;
}

#registration legend {
    background-color: Gainsboro;
    border: 1px solid Gray;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: left;
}

