{% extends 'base.html' %}
{% load static %}
{% block sidebar %}
    {% include 'accounts/account_nav.html' %}
{% endblock sidebar %}
{% block content %}
    <!-- Main Content -->
    <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid">
            <div class="form-content">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="small mb-1">Username:</label>
                                <p>username: {{ form.user }}</p>
                                <p>RCRAInfo API ID: {{ form.rcra_api_id }}</p>
                                <p>RCRAInfo API Key: {{ form.rcra_api_key }}</p>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
            </div>
            {{ profile.epa_sites }}
        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

{% endblock content %}
