{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- Main Content -->
  <div id="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
      <!-- Content Row -->
      <div class="row justify-content-center">
        <!-- Project Card Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Register</h6>
          </div>
          <div class="card-body">
            {% if error %}
              <div class="alert alert-danger mt-3" role="alert">
                {{ error }}
              </div>
            {% endif %}
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary">
                Sign Up
              </button>
            </form>
            <div class="text-right">
              <p>Already have an account?<a href="{% url 'login' %}"> Sign in here</a></p>
            </div>
          </div>
        </div>
        <!-- End Content Row -->
      </div>
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- End of Main Content -->
{% endblock content %}
