{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- Main Content -->
  <div id="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
      <div class="text-lg-center">
        <h1>Welcome to haztrak!</h1>
        <p>
          Haztrak is an example web application, developed by the United State Environmental
          Protection Agency (EPA) built to showcase the abilities of the RCRAInfo Application
          Programming Interface (API)
        </p>
        <p>
          It's developed under the ___ license and blah blah blah.
        </p>
        <p>
          We welcome contribution, you can view the source code and contribution guidelines
          in our git repository on <a href="https://github.com/USEPA/e-Manifest">GitHub</a>
        </p>
      </div>

    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- End of Main Content -->
{% endblock content %}
