@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bs-card-cap-padding-y: 0;
  --haztrak-info: #33cccc;
  --toastify-color-info: var(--haztrak-info);
  --toastify-color-success: var(--bs-success);
  --toastify-color-warning: var(--bs-warning);
  --toastify-color-error: var(--bs-danger);
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);
  --toastify-icon-color-info: var(--bs-info);
  --toastify-icon-color-success: var(--bs-success);
  --toastify-icon-color-warning: var(--bs-warning);
  --toastify-icon-color-error: var(--bs-danger);
  --toastify-color-progress-light: linear-gradient(
                  to right,
                  #4cd964,
                  #5ac8fa,
                  #007aff,
                  #34aadc,
                  #5856d6,
                  #ff2d55
  );
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--bs-info);
  --toastify-color-progress-success: var(--bs-success);
  --toastify-color-progress-warning: var(--bs-warning);
  --toastify-color-progress-error: var(--bs-danger);
  font-family: 'Open Sans', sans-serif;
}

$font-family-base: 'Open Sans', sans-serif;

// Override Bootstrap styles
$card-cap-padding-y: 0.1rem;
$card-cap-spacer-y: 0;
$card-cap-spacer-x: 0;
$info: #009999;

@for $i from 1 through 6 {
  h#{$i} {
    font-family: 'Jost', sans-serif;
  }
}

// Haztrak custom styles
.overlay-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure it's above other content */
}

.no-caret::after {
  display: none !important;
}

.modal-90w {
  width: 90% !important;
  max-width: none !important;
}

.rotate-90-cc {
  transform: rotate(-90deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

// boilerplate
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

html, body {
  height: 100%;
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@import '~bootstrap/scss/bootstrap';

button.recharts-legend-item {
  all: unset;
  cursor: pointer;
}

.recharts-legend-item:focus .recharts-legend-item-text {
  border-bottom: 2px solid;
}
