**/README.md
**/tests
Dockerfile
.dockerignore
db.sqlite3
**/.git
**/.gitignore
**/.vscode
**/coverage
**/.env
**/env
**/.aws
**/.ssh
**/.venv
**/venv
**/*.bak
**/__pycache__
**/.DS_Store
**/.pytest_cache
