Django==5.0.6
django-celery-results==2.5.1
django-cors-headers==4.3.1
django-extensions==3.2.3
django-celery-beat==2.6.0
djangorestframework==3.15.1
gunicorn==22.0.0
emanifest==4.0.3
psycopg[binary]==3.1.19
pytz==2024.1
sqlparse==0.5.0
tzdata==2024.1
whitenoise==6.6.0
celery==5.4.0
redis==5.0.4
drf-spectacular==0.27.2
django-health-check==3.18.2
django-allauth==0.63.3
dj-rest-auth==6.0.0
