pytest-mock==3.14.0
pre-commit==3.7.1
pytest==8.2.2
pytest-django==4.8.0
responses==0.25.3
ruff==0.5.0
celery-types==0.22.0
djangorestframework-stubs==3.15.0
ruff-lsp==0.0.54
django-stubs==5.0.4
django-stubs-ext==5.0.2
Faker==26.0.0
coverage==7.5.4
pytest-xdist==3.6.1
-r requirements.txt
