asgiref==3.8.1
Django==5.0.4
django-celery-results==2.5.1
django-cors-headers==4.3.1
django-extensions==3.2.3
django-celery-beat==2.6.0
djangorestframework==3.15.1
gunicorn==21.2.0
emanifest==4.0.2
psycopg[binary]==3.1.18
pytz==2024.1
sqlparse==0.4.4
tzdata==2024.1
whitenoise==6.6.0
celery==5.3.6
redis==5.0.3
drf-spectacular==0.27.2
django-health-check==3.18.1
django-allauth==0.61.1
dj-rest-auth==5.0.2
