pytest-mock==3.12.0
pre-commit==3.6.2
pytest==8.1.1
pytest-django==4.8.0
responses==0.25.0
ruff==0.3.2
celery-types==0.22.0
djangorestframework-stubs==3.14.5
ruff-lsp==0.0.53
django-stubs==4.2.7
django-stubs-ext==4.2.7
Faker==23.1.0
coverage==7.4.3
pytest-xdist==3.5.0
-r requirements.txt
