asgiref==3.6.0
certifi==2022.9.24
charset-normalizer==2.1.1
Django==4.1.6
django-celery-results==2.4.0
djangorestframework==3.14.0
django-cors-headers==3.13.0
gunicorn==20.1.0
emanifest==3.0.1
idna==3.4
psycopg2-binary==2.9.5
pytz==2022.7.1
requests==2.28.2
requests-toolbelt==0.10.1
sqlparse==0.4.3
tzdata==2022.7
urllib3==1.26.14
whitenoise==6.3.0
python-dotenv==0.21.1
celery==5.2.7
redis==4.4.2
drf-spectacular==0.25.1
