pytest-mock==3.12.0
pre-commit==3.4.0
pytest==7.4.2
pytest-django==4.5.2
responses==0.23.3
ruff==0.0.292
black==23.9.1
celery-types==0.20.0
djangorestframework-stubs==3.14.2
ruff-lsp==0.0.40
-r requirements.txt
