<header id="menu">
    <div id="menu-left">
        <div id="menu-icon" class="menu-content">
             <img src="Assets/Pictures/Icons/icon3_60x54.png" alt="icon"/>
        </div>
        <div id="menu-title" class="menu-content">
               <h2> Glitchy Cyborg </h2>
        </div>
    </div>
    <div id="menu-right" class="menu-content">
        <div class="nav_content">
            <a href="registration.php">
                <button class="btn">Sign up</button>
            </a>
        </div>        
        <div class="nav_content">
            <script type="text/javascript" src="Assets/JS/menudrop.js"></script>
                <button onclick="menudrop()" class="btn" id="dropbtn">Menu</button>
            <div id="myDropdown" class="dropdown_content">
                <a hhref="index.php"> Home </a>
                <a href="registration.php"> Sign Up </a>
                <a href="Tech_Specs.html"> Tech Specs </a> 
                <a href="#Comment"> Leave Feedback</a>
            </div>
        </div>  
    </div>
</header>