<!DOCTYPE html>
<html>
<head>
	<!-- Metadata -->
	<link href="Assets/CSS/gc_base.css" type="text/css" rel="stylesheet"/>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<meta name="description"
	      content="single board computer clusters"/>
	<meta name="keywords"
	      content="SOC, Rock64, cluster, single board computer, public, free"/>
	<meta name="robots"
	      content="nofollow"/>
	<meta http-equiv="author"
	      content="David Graham" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<script type="text/javascript" src="Assets/JS/gc_base_func.js"></script>
	<title> Glitchy | Cyborg</title>
</head>
<body>
	<!-- Header -->
    <header id="menu">
    	<!-- leftside of the header -->
        <div id="menu-left">
            <div id="menu-icon" class="menu-content">
                 <img src="Assets/Pictures/Icons/icon3_60x54.png" alt="icon"/>
            </div>
            <div id="menu-title" class="menu-content">
                   <h2> Glitchy Cyborg </h2>
            </div>
        </div>
        <!-- Navigation (right side of the header) -->
        <div id="menu-right" class="menu-content">
            <div class="nav_content">
                <a href="registration.html">
                    <button class="btn">Sign up</button>
                </a>
            </div>        
            <div class="nav_content">
                <!-- <script type="text/javascript" src="Assets/JS/menudrop.js"></script> -->
                    <button onclick="menudrop()" class="btn" id="dropbtn">Menu</button>
                <div id="myDropdown" class="dropdown_content">
                    <a href="index.html">Home </a>
                    <a href="registration.html">Sign Up </a>
                    <a href="Tech_Specs.html">Tech Specs </a> 
                    <a href="#Comment">Leave Feedback</a>
                </div>
            </div>  
        </div>
    </header>
    <!-- main content -->
    <div id="container">
        <div id="main">
            <div id="left_text" class="text_body_left">
                <h2> Left Column title </h2>
            </div>
            <div id="right_text" class="text_right_body">
                <h2> News </h2>
            </div>
        </div>
    </div>
    <!-- footer -->
    <footer id="footer">
        <p>this is a footer</p>
    </footer>
</body>
</html>
