<div id="container">
    <div id="main">
        <div id="left_text" class="text_body_left">
            <h2> Left Column title </h2>
        </div>
        <div id="right_text" class="text_right_body">
            <div class="search-container">
                <form action="search_site.php">
                    <input type="text" placeholder="search..." class="search-content">
                    <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <h2> News </h2>
        </div>
    </div>
</div>