{% extends 'base.html' %}
{% load static %}
{% block sidebar %}
  {% include 'manifest_nav.html' %}
  {% include 'site_nav.html' %}
{% endblock sidebar %}
{% block content %}
  <!-- Main Content -->
  <div id="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
      <!-- Page Heading and top level Button -->
      <form method="post">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">{{ manifest.manifest_tracking_number }}</h1>
          <div>
            <button id="" type="submit" class=" d-none d-sm-inline-block btn btn-sm btn-success shadow-sm">
              <i class="fa-solid fa-floppy-disk text-white"></i> Save
            </button>
          </div>
        </div>
        <div class="container-fluid">
          <!-- Start Manifest Cards, this row encompasses all col/cards-->
          <div class="row">
            <div class="col">
              <!-- start manifest form fields -->

              <!-- General Info -->
              <div class="card shadow-sm m-3">
                <div class="card-header bg-secondary">
                  <p class="h4 font-weight-bold text-light my-1 ">{{ manifest }}</p>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <p class="font-weight-bold">Manifest Tracking Number</p>
                      {{ manifest.mtn }}
                    </div>
                    <div class="col">
                      <p class="font-weight-bold">Manifest Type</p>
                      {{ manifest.submission_type }}
                    </div>
                    <div class="col">
                      <p class="font-weight-bold">Status</p>
                      {{ form.status }}
                    </div>
                  </div>
                </div>
              </div>
              {% csrf_token %}
              {{ form.as_p }}
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- End of Main Content -->
  </div>
  <!-- Page level plugins -->
  <script src="{% static 'js/trak/sync-db.js' %}"></script>
{% endblock content %}
