{% extends 'base.html' %}
{% load static %}
{% block sidebar %}
  {% include 'manifest_nav.html' %}
  {% include 'site_nav.html' %}
{% endblock sidebar %}
{% block content %}
  <!-- Main Content -->
  <div id="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
      <!-- Page Heading and top level Button -->
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ manifest.manifest_tracking_number }}</h1>
        <div>
          <button id="" class=" d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-wrench fa-sm text-white-50"></i> Edit
          </button>
          <button id="" class=" d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-pen fa-sm text-white-50"></i> Sign
          </button>
        </div>
      </div>
      <div class="container-fluid">
        <!-- Start Manifest Cards, this row encompasses all col/cards-->
        <div class="row">
          <div class="col">
            <!-- start manifest cards here-->
            <form method="post">{% csrf_token %}
              {{ form.as_p }}
              <input type="submit" value="Update">
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Main Content -->
  </div>
  <!-- Page level plugins -->
  <script src="{% static 'js/trak/sync-db.js' %}"></script>
{% endblock content %}
