{% extends 'base.html' %}
{% load static %}
{% block sidebar %}
  {% include 'site_nav.html' %}
{% endblock sidebar %}
{% block content %}

  <!-- Main Content -->
  <div id="content">

    <!-- Begin Page Content -->
    <div class="container-fluid">
      <!-- Page Heading and top level Button -->
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ site }} Manifests</h1>
        <button type="button" data-toggle="modal" data-target="#pullManifestModal"
                class=" d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
          class="fas fa-download fa-sm text-white-50"></i> Pull Manifests
        </button>
      </div>

      <!-- Pull manifest modal -->
      <div class="modal fade" id="pullManifestModal" tabindex="-1" role="dialog"
           aria-labelledby="pullManifestModalLabel"
           aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header bg-light">
              <h5 class="modal-title" id="pullManifestModalLabel">Pull Manifests from RCRAInfo by MTN</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <label for="pullMtnInput">Manifest Tracking Number(s):</label>
              <input id="pullMtnInput" type="text" class="form-control" name="mtn">
              <i class="text-muted d-flex justify-content-end">Separate MTN by spaces</i>
              <div id="pullMtnRespBox" class="justify-content-start  px-5 py-1 mr-5 bg-light rounded"
                   style="min-height: 60px">
                <ul id="pullMtnRespList" class="list-unstyled">
                  <!-- Pull manifest Response box-->
                </ul>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" onclick="pullMtn()" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </div>
      <script>
      </script>

      {% if gen_manifests %}
        <!-- Generator Manifest Card/row -->
        <div class="row">
          <div class="col">
            <div class="card shadow mb-4">
              <!-- Card Header - Dropdown -->
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Generator</h6>
                <div class="dropdown no-arrow">
                  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                       aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Filter:</div>
                    <a class="dropdown-item" href="#">placeholder</a>
                    <a class="dropdown-item" href="#">placeholder </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">placeholder </a>
                  </div>
                </div>
              </div>
              <!-- Card Body -->
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                    <th scope="col"></th>
                    <th scope="col">MTN</th>
                    <th scope="col">Status</th>
                    <th scope="col">Last Update</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </thead>
                    <tbody>
                    {% for manifest in gen_manifests %}
                      <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ manifest.mtn }}</td>
                        <td>{{ manifest.status }}</td>
                        <td>{{ manifest.update_date }}</td>
                        <td><a class="fas fa-eye text-decoration-none"
                               href="{% url 'manifest_details' manifest.id %}"></a></td>
                        <td><a class="fas fa-wrench text-decoration-none"
                               href="{% url 'manifest_update' manifest.id %}"></a></td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      {% if tsd_manifests %}
        <!-- Generator Manifest Card/row -->
        <div class="row">
          <div class="col">
            <div class="card shadow mb-4">
              <!-- Card Header - Dropdown -->
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Receiving Facility</h6>
                <div class="dropdown no-arrow">
                  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                       aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Filter:</div>
                    <a class="dropdown-item" href="#">placeholder</a>
                    <a class="dropdown-item" href="#">placeholder </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">placeholder </a>
                  </div>
                </div>
              </div>
              <!-- Card Body -->
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                    <th scope="col"></th>
                    <th scope="col">MTN</th>
                    <th scope="col">Status</th>
                    <th scope="col">Last Update</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </thead>
                    <tbody>
                    {% for manifest in tsd_manifests %}
                      <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ manifest.mtn }}</td>
                        <td>{{ manifest.status }}</td>
                        <td>{{ manifest.update_date }}</td>
                        <td><a class="fas fa-eye text-decoration-none"
                               href="{% url 'manifest_details' manifest.id %}"></a></td>
                        <td><a class="fas fa-wrench text-decoration-none"
                               href="{% url 'manifest_update' manifest.id %}"></a></td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
  </div>
  <!-- Page level plugins -->
  <script src="{% static 'js/trak/sync-db.js' %}"></script>
  <script src="{% static 'js/trak/manifest-pull.js' %}"></script>
{% endblock content %}
