<!-- e-Manifest Nav Item  -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEman"
       aria-expanded="true" aria-controls="collapseEman">
        <i class="fas fa-fw fa-file-alt"></i>
        <span>e-Manifest</span>
    </a>
    <div id="collapseEman" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{% url 'trak' %}">
                <i class="fa fa-fw fa-tachometer-alt"></i> Dashboard</a>
            <h6 class="collapse-header">Electronic:</h6>
            <a class="collapse-item" href="#">Sign</a>
            <a class="collapse-item" href="#">Create</a>
            <a class="collapse-item" href="https://rcrainfo.epa.gov">
                <span>RCRAinfo</span>
                <i class="fas fa-fw fa-external-link-alt"></i>
            </a>
        </div>
    </div>
</li>
<!--  Sites Nav Item  -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSite"
       aria-expanded="true" aria-controls="collapseSite">
        <i class="fas fa-address-book"></i>
        <span>Sites</span>
    </a>
    <div id="collapseSite" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Manage:</h6>
            <a class="collapse-item" href="{% url 'sites' %}">My Sites</a>
            <a class="collapse-item" href="https://rcrainfo.epa.gov">
                <span>RCRAinfo</span>
                <i class="fas fa-fw fa-external-link-alt"></i>
            </a>
        </div>
    </div>
</li>
