<!--  Sites Nav Item  -->
<li class="nav-item">
  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSite"
     aria-expanded="true" aria-controls="collapseSite">
    <i class="fas fa-address-book"></i>
    <span>Sites</span>
  </a>
  <div id="collapseSite" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Manage:</h6>
      <a class="collapse-item" href="{% url 'trak' %}">My Sites</a>
      <a class="collapse-item" href="https://rcrainfo.epa.gov">
        <span>RCRAinfo</span>
        <i class="fas fa-fw fa-external-link-alt"></i>
      </a>
    </div>
  </div>
</li>
