/* Begin base style */
* {
    margin: 0;
    padding: 0;
    color: #000066;
    font-family: sans-serif;
}

html, body {
    height: 100%;
}

.top_bar {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    min-height: 40px;
    z-index: 1;
    background-color: lightsteelblue;
    background-image: linear-gradient(LightSteelBlue, #93aed2);
    box-shadow: 0px 0px 5px #222222;
}

.menu_wrapper{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.menu_sect{
    display: flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
    padding-right: 32px;
    padding-left: 8px;
    align-items: center;
}

.menu_content {
    padding-right: 8px;
    position: relative;
}

.btn {
  transition-duration: .2s;
  font-size: 16px;
  border: none;
  padding: 0px 8px;
  border-radius: 16px;
  font-weight: bold;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  }

.btn:hover {
      background-color: silver;
      border: none;
      border-radius: 16px;
  }

  .btn:focus{
    background-color: silver;
    border: none;
    border-radius: 16px;
    outline: none;
  }
  
.dropdown_content {
    display: none;
    position: absolute;
    top: 18px;
    right: 30px;
    background-color: silver;
    border-radius: 16px;
    max-width: 125px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown_content a {
    border-radius: 16px;
    padding: 12px 32px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

.dropdown_content a:hover {
    background-color: #f1f1f1;
}

.show {display:block;}

#footer {
    height: 5%;
    margin-top: -5%;
    min-height: 75px;
    position: relative;
    clear: both;
    background-color:  #93aed2;
    background-image: linear-gradient(to top, #93aed2, LightSteelBlue);
}

a, a:link, a:visited {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color:DimGray;
}

#container {
    position: relative; top: 5%;
    min-height: 100%;
    margin-bottom: 5%;
    overflow: auto;
}

main {
    min-height: 1200px;
    background-color: #dde0e6;
    overflow: auto;
    display: flex;
}

.main_content {
    overflow: auto;
    padding-top: 64px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 64px;
}

.main_grid{
    display: grid;
    box-sizing: border-box;
    row-gap: 32px;
}

.main_grid_row{
    display: grid;
    align-content: start;
    box-sizing: border-box;
    grid-template-columns: repeat( auto-fit, minmax(10px, 1fr) );;
    gap: 32px;
}

.main_row_sub{
    box-sizing: border-box;
    display: grid;
}

.main_title{
    padding-bottom: 16px;
}

.sub_content{
    width: 100%;
    display: grid;
}

.right_col {
    box-sizing: border-box;
    min-width: 300px;
    background-color: Gainsboro;
    overflow: auto;
    text-align: center;
    padding: 32px 8px;
}

.col_content_grid{
    display: grid;
    padding-left: 8px;
    padding-right: 8px;
}

.right_el {
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: left;
}

.search_container {
    display: inline;
}

.search_container input{
    margin-top: 5%;
    width: 50%;
    font-size: 17px;
    border: none;
    box-shadow: 0px 0px 3px #222222;
    border: 1px solid gray;
    border-radius: 5px;
}

.search-btn{
    margin-top: 5%;
    margin-right: 5%;
    padding: 2.5px 6px;
    border: none;
    box-shadow: 0px 0px 3px #222222;
    cursor: pointer;
    font-weight: bold;
    background-color: Silver;
    border: 1px solid gray;
    border-radius: 5px;
    transition-duration: .4s;
}


.search-btn:hover {
    color:Gainsboro;
}


@media only screen and (max-width: 600px) {

    .menu_title {
        display: none;
    }

    main {
    display: block;
    min-height: 800px;
    }

    .main_content {
        min-height: 400px;
    }

    .right_col {
        background-color: Gainsboro;
        background-image: linear-gradient(to top, Gainsboro, Silver);
        box-shadow: 0px 0px 3px #222222;
        min-height: 400px;
    }
    
    #footer {
        height: 10%;
        margin-top: -10%;
        min-height: 75px;
    }

}

@media only screen and (min-width: 601px) {

    #menu {
        height: 5%;
    }

    .sub_content{
        grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );;

    }

    main {
        min-height: 1200px;
    }

    .right_col {
        width: 26%;
        background-color: Gainsboro;
        background-image: linear-gradient(to left, Gainsboro, Silver);
        box-shadow: 0px 0px 5px #222222;
    }

}

.input_sect{
    padding-bottom: 16px;
    padding-right: 10%;
    position: relative;
    direction: ltr;
}

.input_field{
    border-radius: 4px;
    border: 0;
    position: relative;
    appearance: none;
}

.input_text{
    border-radius: 4px;
    border: 0;
    background-color: gainsboro;
    height: 30px;
    line-height: 30px;
    padding: 16px 20px 0;
    width: 90%;
    box-shadow: 0px 1px 5px #888888;
    font-size: 14px;
}

.submit_btn {
    transition-duration: .2s;
    border: none;
    padding: 0px 8px;
    border-radius: 16px;
    font-weight: bold;
    background-color: silver;
    }
  
  .submit_btn:hover {
        background-color: gainsboro;
        border: none;
        border-radius: 16px;
    }

.input_label{
    position: absolute;
    top: 4px;
    left: 16px;
    /* transform: translateY(0); */
    font-size: 12px;
    
}

/* Modal Content */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal_content {
    border-radius: 20px;
    position: relative;
    background-color: #fff;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal_header {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 8px 16px;
    background-color: lightsteelblue;
    color: white;
}

.modal_body {
    padding: 16px 16px;
    border-radius: 16px;
}

.modal_footer {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    padding: 8px 16px;
    background-color: lightsteelblue;
    color: white;
}
