<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="docker-deploy" factoryName="dockerfile" server-name="Docker">
    <deployment type="dockerfile">
      <settings>
        <option name="imageTag" value="haztrak-server" />
        <option name="containerName" value="" />
        <option name="portBindings">
          <list>
            <DockerPortBindingImpl>
              <option name="containerPort" value="8000" />
              <option name="hostPort" value="8000" />
            </DockerPortBindingImpl>
          </list>
        </option>
        <option name="sourceFilePath" value="server/Dockerfile" />
      </settings>
    </deployment>
    <method v="2" />
  </configuration>
</component>