name: 'Haztrak Client Tests'

on:
  pull_request:
    branches: ['main']
    paths:
      - 'client/**'
  workflow_call:
  workflow_dispatch:

jobs:
  run_client_tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./client
    strategy:
      matrix:
        node: [16, 18]
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'

      - name: Install Dependencies
        run: npm ci

      - name: Test Node.js-${{ matrix.node }}
        run: npm test
        env:
          REACT_APP_HT_ENV: 'TEST'
